<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Question Form</title>
  </head>
  <body>
    <h1>Ask a question:</h1>
    <form method="POST" action="{{ url_for('answer') }}">
      <label for="question">Question:</label>
      <input type="text" id="question" name="question"><br><br>
      <input type="submit" value="Submit">
    </form>
    <br><br>
    <a href="/upload"><button>Go to Upload Page</button></a>
    <a href="/"><button>Go to Home Page</button></a>

    {% if answer %}
    <hr>
    <h2>Answer:</h2>
    <p>{{ answer }}</p>
    {% endif %}
  </body>
</html>
