<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/upload" enctype="multipart/form-data">
        <input type="file" name="pdf_file">
        <button type="submit">Upload</button>
    </form>
    <br><br>

    <a href="/answer"><button>Go to Chat Bot Page</button></a>
    <a href="/"><button>Go to Home Page</button></a>

    {% if keyphrases %}
    <!-- <hr> -->
    <h2>Skills Extracted from the Resume:</h2>
    <p>{{ keyphrases }}</p>
    {% endif %}

    {% if predicted_label.any() %}
    <h2>Top Three Jobs that you can apply for: {{predicted_label}}</h2>
    {% endif %}
    <br>
    {% for i in all_data %}
    <h3>The {{i}} role has following statistics:</h3>
    <ol>
        <li>The most frequently required skills = {{all_data[i]['most_important_skill']}}</li>
        <li>Percentage of jobs requiring {{all_data[i]['most_important_skill']}} skill = {{all_data[i]['percent_of_MIS']}}</li>
        <li>Top skills required for {{i}} role = {{all_data[i]['skills_most']}}</li>
    </ol>  
    {% endfor %}
    
</body>
</html>